h1 {
  background-color: red;
}
h2 {
  background-color: rgb(64, 0, 255);
}
div {
  background-color: rgb(255, 0, 183);
}
ol {
  background-color: rgb(0, 255, 8);
}
ul {
  background-color: rgb(0, 242, 255);
}
table {
  background-color: rgb(255, 204, 0);
}
p {
  background-color: rgb(0, 255, 132);
}
li {
  background-color: antiquewhite;
}
span {
  background-color: rgb(24, 86, 36);
}
a {
  background-color: rgb(16, 98, 161);
}
strong {
  background-color: rgb(73, 95, 57);
}
em {
  background-color: rgb(119, 94, 63);
}
img {
  background-color: rgb(104, 145, 129);
}
input {
  background-color: rgb(210, 119, 125);
}
