.red-border {
  border: 2px solid red;
  margin: 3px;
}

.p-1 {
  padding: 10px;
}

.bg-black {
  background-color: black;
  color: white;
}
.bg-grey {
  /* margin: 5px; */
  background-color: #121212;
  color: white;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.invert {
  filter: invert(1);
}

.m-1 {
  margin: 5px;
}

.rounded {
  border-radius: 7px;
}
