.red {
  color: red;
}

.bg-yellow {
  background-color: yellow;
}
.white {
  color: white;
}
.bg-blue {
  background-color: blue;
}
.f-size {
  font-size: large;
}
#bg-wheat {
  background-color: wheat;
}

.pink {
  color: palevioletred;
}
