@import "tailwindcss";

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.navbar ul li {
  width: fit-content;
  display: flex;
  gap: 15px;
  padding: 5px 15px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.navbar ul li:hover {
  cursor: pointer;
  background: #333333;
  border-radius: 20px;
  padding: 5px 15px;
}

#postBtn:hover {
  transform: scale(1.05);
}

.info {
  padding: 5px 10px;
  /* display: flex; */
  flex-direction: column;
  font-size: smaller;
  color: gray;
  font-weight: 600;
}

.avatar {
  display: flex;
  align-items: center;
}

.more {
  transform: scale(1.3);
  display: flex;
  align-items: center;
  filter: invert(0.7);
}
